<h1>Aide</h1>
<div class='help-container'>    
    <ul>
        <li><a routerLink="/aide/comment-se-connecter-sur-votre-chat">Comment connecter sur votre tchat ?</a></li>
        <!--<li><a routerLink="/aide/comment-se-connecter-sur-votre-chat">Comment changer de pseudo ?</a></li>
        <li><a routerLink="/aide/comment-se-connecter-sur-votre-chat">Comment enregistrer un pseudo ?</a></li>
        <li><a routerLink="/aide/comment-se-connecter-sur-votre-chat">Comment rejoindre un salon ?</a></li>
        <li><a routerLink="/aide/comment-se-connecter-sur-votre-chat">Comment enregistrer un salon ?</a></li>
        <li><a routerLink="/aide/comment-se-connecter-sur-votre-chat">Comment donner un statut modérateur à quelqu'un ?</a></li>
        <li><a routerLink="/aide/comment-se-connecter-sur-votre-chat">Comment prendre le statut modérateur à quelqu'un ?</a></li>
        <li><a routerLink="/aide/comment-se-connecter-sur-votre-chat">Comment ejecter un usagé ?</a></li>
        <li><a routerLink="/aide/comment-se-connecter-sur-votre-chat">Comment banner un usagé ?</a></li>-->
    </ul>    
</div>    