<div class='help-container'>  
    <h1>Comment se connecter sur votre dialoge en direct</h1>
    <a class="summary" routerLink="/aide">Retour au somaire</a>
    <br /><br />
    afin de se connecter au chat cliquer sur le menu "Dialogue en direct" du menu en haut a gauche.                
    <br />
    <img src="/assets/images/aide/1-1.png" width="500px" />   
    <br />
    <div class="red-ballon">1</div>Choissisez ensuite un pseudo, le mot de passe n'est pas obligatoire.                
    <br /><br />
    <div class="red-ballon">2</div>Si vous indiquez un mot de passe le pseudo sera identifié et vous aurez accés au statut de modérateur sur vos salons.
    <br />
    Si le pseudo n'est pas enregistré alors il sera enregistré avec ce mot de passe.
    <br /><br />
    <div class="red-ballon">3</div>Cliquer ensuite sur le bouton "se connecter".
    <br /><br />
    <img src="/assets/images/aide/1-2.png" width="500px" />
</div>