<div class='partners'>
    <h1>Nos partenaires</h1>
    <a href='https://letopweb.eu/' title='Annuaire de qualité LetopWeb'>LetopWeb</a>
    <br />
    <a href="http://referencement-annuaire-web.fr/category/informatiqueinternet/internet/" target="_blank">Internet</a>
    <br />
    <a href="http://1annuairezz.free.fr/">Annuaire gratuit </a> 
    <br />
    <a href="https://propulsite.com/annuaire/11_g-n-rale/59_site/" title = "Annuaire PropulSite.com, Catégorie : Générale, Site" alt="Annuaire PropulSite.com, Catégorie : Générale, Site"> Générale, Site, PropulSite.com</a>
    <br />
    <a href="http://premiumreferencement.com/annuaire/internet/">Annuaire Referencement - Internet</a>
    <br />
    <a href="http://annuaire.ludikreation.com">Annuaire LudiKreation</a>
</div>