<div class="container">
    <div class="header">  
        <h1>Règlement du dialogue en direct : Respect et bonne humeur</h1>
        <h2>Bienvenue dans notre espace de dialogue en direct ! Pour que chacun puisse profiter d'une expérience positive, respectueuse et joyeuse, nous vous prions de suivre ces règles :</h2>
    </div>
    <div class="content">        
        <p><strong>Respect mutuel :</strong> Traitez tous les participants avec respect, considération et courtoisie, indépendamment de leurs opinions, origines ou croyances. Évitez les insultes, les propos discriminatoires et les comportements offensants.</p>

        <p><strong>Pas de harcèlement :</strong> Le harcèlement, qu'il soit basé sur le genre, l'orientation sexuelle, la religion, l'origine ethnique, ou toute autre caractéristique, ne sera pas toléré. Toute forme de harcèlement sera sévèrement sanctionnée.</p>

        <p><strong>Langage approprié :</strong> Utilisez un langage respectueux et évitez les obscénités, les vulgarités, ainsi que tout contenu inapproprié. Restez conscient que votre langage peut influencer l'expérience des autres.</p>       

        <p><strong>Partage d'informations :</strong> Si vous partagez des informations ou des opinions, veillez à ce qu'elles soient exactes et basées sur des faits vérifiables. Évitez de propager des rumeurs ou des informations trompeuses.</p>

        <p><strong>Critique constructive :</strong> Si vous exprimez des critiques, assurez-vous qu'elles soient constructives et formulées de manière respectueuse. L'objectif est d'encourager des discussions productives et positives.</p>

        <p><strong>Évitez les spams :</strong> Ne publiez pas de messages répétitifs, publicitaires ou promotionnels. Ces types de messages peuvent perturber le flux de la conversation.</p>        

        <p><strong>Partage de connaissances :</strong> Partagez vos connaissances, expériences et opinions de manière positive et constructive. Favorisez l'apprentissage et l'échange d'idées entre les participants.</p>

        <p><strong>Soyez patient :</strong> Tout le monde n'a pas la même vitesse de réaction. Attendez votre tour pour parler et soyez patient si les réponses prennent un peu de temps.</p>
    </div>    
    <div class="footer">
        <h2>En participant à notre dialogue en direct, vous acceptez de respecter ces règles et de contribuer à créer un environnement convivial, respectueux et enrichissant pour tous. En cas de non-respect de ces règles, des mesures appropriées seront prises, y compris des avertissements ou des exclusions temporaires voire permanentes.</h2>
        <h2>Nous vous remercions de votre engagement à maintenir un dialogue positif et bienveillant !</h2>
    </div>    
</div>