
.textBox {
    display:flex;
    flex-direction:row;
    margin-top:10px;
    opacity:1;
    background-color:white;
    input {
        width:calc(100% - 100px);
        height:30px;
        border:1px solid #848484;
    }
    button {
        width:100px;
        height:30px;
    }
}